.wp-admin.post-type-product .wp-list-table.posts th#image {
	width: 150px;
}

/* Change save and publish buttons for wsorder post edit pages. */
body.wp-admin.post-type-wsorder {
	/* Hide post status on edit page*/
	.inline-edit-wsorder .inline-edit-status,
	.inline-edit-wsorder .inline-edit-group,
	.misc-pub-section.misc-pub-visibility,
	.misc-pub-section.misc-pub-curtime,
	.row-actions .inline,
	// .row-actions .trash,
	.acf-field-5ffcc2b90682c .acf-actions,
	.acf-field-600858275c27f .acf-actions {
		display: none;
	}

	/* Handle permissions for IT Rep */
	&.disable-update-order {
		#major-publishing-actions #publishing-action,
		#minor-publishing-actions,
		.edit-post-status {
			display: none;
		}
	}

	&.wso_it_rep.action_required #major-publishing-actions,
	&.wso_business_admin.action_required #major-publishing-actions {
		display: none;
	}

	.acf-field input[disabled] {
		color: #666;
	}

	// Reposition order item fields.
	.acf-field[data-name="order_items"],
	.acf-field[data-name="quotes"] {
		.acf-table,
		.acf-table>tbody>tr>td {
			border-color: #8C8F94;
		}

		.acf-field[data-name="item"] {
			border-bottom: 1px solid #EEEEEE;
		}
	}

	.acf-field[data-name="order_items"] {
		.acf-field[data-name="requisition_number"],
		.acf-field[data-name="requisition_date"],
		.acf-field[data-name="asset_number"],
		.acf-field[data-name="price"] {
			display: inline-block;
			vertical-align: top;
			border-top: 0;
			width: calc(25% - .17rem);
		}
	}

	.acf-field[data-name="quotes"] {
		.acf-fields > .acf-field {
			display: inline-block;
			vertical-align: top;
			border-top: 0;
		}

		.acf-field[data-name="name"] {
			width: calc(80% - .17rem);
		}

		.acf-field[data-name="price"] {
			width: calc(20% - .17rem);
		}

		.acf-field[data-name="description"] {
			width: calc(50% - .17rem);
		}

		.acf-field[data-name="file"] {
			width: calc(50% - .17rem);
		}
	}
}

.edit-php.post-type-wsorder {
	.approval {
		display: inline-block;
		padding: 3px 5px;
		font-weight: bold;
		font-size: 12px;
		line-height: 1;
	}

	.confirmed,
	.ordered {
		background-color: #28A745;
		border-radius: 4px;
		color: #FFF;
	}

	.not-fully-ordered {
		background-color: #DC3545;
		border-radius: 4px;
		color: #FFF;
	}

	th.manage-column.column-status {
		width: 40px;
	}

	.column-status .status-color-key {
		width: 40px;
		height: 40px;

		&.action_required {
			background-color: #FFC107;
		}

		&.returned {
			background-color: #DC3545;
		}

		&.completed,
		&.publish {
			background-color: #C3E6CB;
		}

		&.awaiting_another {
			background-color: #D6D8DB;
		}
	}
}
.edit-php.post-type-program {

	th.manage-column.column-current {
		width: 40px;
	}

	.current-program-marker	{
		font-size: 40px;
		font-weight: bold;
		line-height: 40px;
	}
}

// User profile page.
#application-passwords-section,
#wpfooter,
#your-profile tr.user-url-wrap {
	display: none;
}
