.wp-admin.post-type-product .wp-list-table.posts th#image {
	width: 150px;
}

/* Change save and publish buttons for wsorder post edit pages. */
body.post-type-wsorder input#publish {
	display: none;
}

#minor-publishing-actions #save-action {
	position: relative;
}

#minor-publishing-actions #save-action:before {
	content: "Save";
	display: block;
	position: absolute;
	top: 6px;
	left: 26px;
	color: #0071A1;
	font-size: 13px;
	pointer-events: none;
}

#minor-publishing-actions #save-post,
#minor-publishing-actions #save-post.button.disabled {
	color: transparent!important;
}

/* Hide post status on edit page*/
.inline-edit-wsorder .inline-edit-status,
.inline-edit-wsorder .inline-edit-group,
.misc-pub-section.misc-pub-visibility,
.misc-pub-section.misc-pub-curtime {
	display: none;
}
