.wp-admin.post-type-product .wp-list-table.posts th#image {
	width: 150px;
}

/* Change save and publish buttons for wsorder post edit pages. */
body.wp-admin.post-type-wsorder {
	/* Hide post status on edit page*/
	.inline-edit-wsorder .inline-edit-status,
	.inline-edit-wsorder .inline-edit-group,
	.misc-pub-section.misc-pub-visibility,
	.misc-pub-section.misc-pub-curtime,
	.row-actions .inline,
	.row-actions .trash,
	.acf-field-5ffcc2b90682c .acf-actions,
	.acf-field-600858275c27f .acf-actions {
		display: none;
	}

	&:not(.publish) {
		#minor-publishing-actions {
			// #save-action {
			// 	position: relative;

			// 	&:before {
			// 		content: "Save";
			// 		display: block;
			// 		position: absolute;
			// 		top: 6px;
			// 		left: 26px;
			// 		color: #0071A1;
			// 		font-size: 13px;
			// 		pointer-events: none;
			// 	}
			// }

			// #save-post,
			// #save-post.button.disabled {
			// 	color: transparent!important;
			// }
		}
	}

	&:not(.wso_admin) input#publish {
		display: none;
	}

	&.wso_admin.completed input#publish {
		display: inline-block;
	}

	.acf-field input[disabled] {
		color: #666;
	}

	input#acf-field_60074b5ee982b:disabled {
		border-left-color: #7E8993;
	}

	// Reposition order item fields.
	.acf-field[data-name="order_items"],
	.acf-field[data-name="quotes"] {
		.acf-table,
		.acf-table>tbody>tr>td {
			border-color: #8C8F94;
		}

		.acf-field[data-name="item"] {
			border-bottom: 1px solid #EEEEEE;
		}
	}

	.acf-field[data-name="order_items"] {
		.acf-field[data-name="requisition_number"],
		.acf-field[data-name="requisition_date"],
		.acf-field[data-name="asset_number"],
		.acf-field[data-name="price"] {
			display: inline-block;
			vertical-align: top;
			border-top: 0;
			width: calc(25% - .17rem);
		}
	}

	.acf-field[data-name="quotes"] {
		.acf-field[data-name="price"] {
			display: inline-block;
			vertical-align: top;
			border-top: 0;
			width: calc(20% - .17rem);
		}

		.acf-field[data-name="description"] {
			display: inline-block;
			vertical-align: top;
			border-top: 0;
			width: calc(46% - .17rem);
		}

		.acf-field[data-name="file"] {
			display: inline-block;
			vertical-align: top;
			border-top: 0;
			width: calc(33% - .17rem);
		}
	}
}

// body.hide-save-button.wp-admin.post-type-wsorder {
// 	input#publish {
// 		display: none;
// 	}
// }

.edit-php.post-type-wsorder {
	.approval {
		display: inline-block;
		white-space: nowrap;
		padding: 3px 5px;
		font-weight: bold;
		font-size: 12px;
		line-height: 1;
	}

	.confirmed,
	.ordered {
		background-color: #28A745;
		border-radius: 4px;
		color: #FFF;
	}

	.not-fully-ordered {
		background-color: #DC3545;
		border-radius: 4px;
		color: #FFF;
	}

	th.manage-column.column-status {
		width: 40px;
	}

	.column-status .status-color-key {
		width: 40px;
		height: 40px;

		&.action_required {
			background-color: #FFC107;
		}

		&.returned {
			background-color: #DC3545;
		}

		&.completed,
		&.publish {
			background-color: #C3E6CB;
		}

		&.awaiting_another {
			background-color: #D6D8DB;
		}
	}
}
.edit-php.post-type-program {

	th.manage-column.column-current {
		width: 40px;
	}

	.current-program-marker	{
		font-size: 40px;
		font-weight: bold;
		line-height: 40px;
	}
}

// User profile page.
#application-passwords-section,
#wpfooter,
#your-profile tr.user-url-wrap {
	display: none;
}
