@charset "utf-8";

@import "foundation";
@import "settings";

%button {
	background-color: #007BFF;
	color: #FFF;
	border: none;
	border-radius: 6px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 24px;
	width: auto;
}

%button-hover {
	background-color: #0069D9;
	border-color: #0062CC;
}

%button-disabled {
	background-color: #F8F9FA;
	color: #212529;
}

.show-for-sr {
	// sass-lint:disable-block no-important
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

#cla_order_form_wrap {
	margin-left: auto;
	margin-right: auto;

	.confirmation-message {
		text-align: center;
	}
}

#cla_order_form,
#products,
#shopping_cart {
	// sass-lint:disable-block max-line-length
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#cla_order_form {

	input:not([type="checkbox"]),
	select {
		width: 100%;
		height: 36px;
		padding: 6px 12px;
		color: #495057;
		border: 1px solid #CED4DA;
	}

	> div > * {
		display: block;
	}

	label {
		cursor: pointer;
		margin-bottom: .5rem;
	}

	div.nobreak label {
		display: inline-block;
	}

	small {
		line-height: 1.1;
		margin-bottom: 1rem;
	}

	dd {
		padding-left: 0;
		margin-bottom: .5rem;
	}

	hr {
		margin: 1rem auto;
	}

	input[type="checkbox"] + label {
		padding-left: 0.5rem;
	}

	#order-message {
		font-weight: normal;
		ul {
			font-weight: bold;
			color: #F00;
			margin-bottom: 0;
		}
	}

	.form-group {
		margin-bottom: 1rem;

		small {
			color: #6C757D;
		}
	}

	.cell.building-name {
		padding-right: .5rem;
	}

	.cell.room-number {
		padding-left: .5rem;
	}

	.dollar-field {
		border: 1px solid #CED4DA;
		border-width: 1px 0 1px 1px;
		width: 36px;
		height: 36px;
		text-align: center;
		font-size: 18px;
		line-height: 34px;
		background-color: #DDD;

		+ .cell input {
			margin-left: 0;
		}
	}

	.trash {
		margin: 0 .25rem;
		width: 27px;
		padding: 0;
		background: transparent url(../images/trash-can.svg) center center/contain no-repeat;
		overflow: hidden;
		border: none;
		text-indent: 300%;
		white-space: nowrap;
	}

	.remove {
		background-color: transparent;
		border: 1px solid #F00;
		border-radius: 6px;
		padding: 0;
		white-space: nowrap;
		overflow: hidden;
		width: 40px;
		height: 40px;
		text-align: center;

		&:before {
			content: "-";
			font-size: 40px;
			color: #F00;
			display: inline-block;
			line-height: 38px;
			width: 38px;
		}

		@include breakpoint(medium) {
			margin-top: 40px;
		}
	}

	.cla-quote-item ~ .cla-quote-item {
		border-top: 1px solid #000;
		margin-top: 1rem;
	}

}

#products {

	button {
		cursor: pointer;
	}

	> div {
		margin-bottom: 2rem;
	}

	.add-product {
		@extend %button;

		&[disabled] {
			@extend %button-disabled;
		}

		&:active,
		&:hover {
			@extend %button-hover;
		}
	}

	h3 {
		margin: 1rem 0;
		font-size: 19.36px;
		font-weight: 700;

		a {
			text-decoration: none;
			color: #000;
		}
	}

	.card-header,
	.card-footer {
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0.03);
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

	.card-header {
		padding: 0.75rem 1.25rem;
		border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
		width: 100%;
		margin-top: 0;

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	.card-footer {
		position: relative;
		border-top: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
		padding: .75rem 0;
	}

	a.add-product {
		border-radius: 0.5rem;
		background-color: #007BFF;
		text-decoration: none;
		padding: 0.75rem;
		color: #FFF;
	}

	.card img {
		max-width: 100%;
		margin: 0 auto 2rem;
	}

	.display-price {
		font-weight: 900;
	}

	.toggle {
		cursor: default;

		.btn:before {
			content: "";
			display: inline-block;
			position: relative;
			width: 0;
			height: 0;
			border: 12px solid #000;
			border-color: transparent transparent transparent #000;
			margin-right: 8px;
			vertical-align: bottom;
		}

		&.active .btn:before {
			border-color: #000 transparent transparent transparent;
			top: 6px;
			left: 0px;
		}

		&:not(.active) .products {
			display: none;
		}
	}

	.more-details-wrap,
	.cell.display-price {
		padding-bottom: 0;
	}

	.cart-cell {
		padding-top: 0;
	}

	.more-details {
		color: #007BFF;
		border: none;
		background-color: transparent;
		padding: 0;
		text-align: left;

		&:focus,
		&:hover {
			text-decoration: underline;
		}

		&:focus {
			outline: none;
		}

		.info {
			text-transform: none;
			color: $body-font-color;
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 100%;
			border: 1px solid rgba(0, 0, 0, 0.2);
			background-color: #FFF;
			padding: 20px;
			line-height: 1.1;
			max-height: 350px;
			overflow-x: auto;
			z-index: 1;

			.close {
				position: absolute;
				top: 0;
				right: 3px;
				overflow: hidden;
				width: 18px;
				height: 24px;
				white-space: nowrap;

				&:before {
					content: "X";
					display: inline-block;
					margin-right: 200%;
					font-family: Verdana, Tahoma, sans-serif;
					font-size: 1.25rem;
					font-weight: 700;
				}
			}

			ul {
				margin-left: 1rem;
				margin-bottom: 0;
				list-style-position: outside;
			}
		}
	}

	.more-details-wrap.active .info {
		display: block;
	}

}

#shopping_cart {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;

	input#cla_submit[type="submit"] {
		@extend %button;
		margin: 1rem 0;

		&[disabled] {
			@extend %button-disabled;
		}
	}

	h3 {
		margin: 1rem 0;
		font-size: 28px;
		font-weight: bold;
		text-align: center;
	}

	#list_purchases {
		font-size: 14.4px;
		font-weight: 400;

		> div:first-child ~ div {
			margin-top: 1rem;
		}
	}

	.cart-item .cell:first-child {
		margin-right: .5rem;
	}

	#allocation-data {
		color: #F00;
	}

	hr {
		margin: 1rem 0;
	}
}
