@charset "utf-8";

@import "foundation";
@import "settings";

dl.horizontal {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

	dt {
		margin-bottom: .5rem;
		text-align: right;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		font-weight: 700;
	}

	dd {
		text-align: left;
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.badge-success {
	color: #FFF;
	background-color: #28A745;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-dark {
	color: #343A40;
	background-color: transparent;
	background-image: none;
	border-color: #343A40;
}

.btn-outline-green {
	color: #28A745;
	background-color: transparent;
	background-image: none;
	border-color: #28A745;
}

.btn-outline-red {
	color: #FF0000;
	background-color: transparent;
	background-image: none;
	border-color: #FF0000;
}

.btn-square {
	padding: 6px 10px;

	.dashicons {
		line-height: 24px;
	}
}

.outline-fields {
	border: 1px solid #DEE2E6;
	border-radius: .25rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.thead-light {
	background-color: #E9ECEF;
	color: #495057;
	border-color: #DEE2E6;
}

.notice-red {
	color: #FF0000;
}

%button {
	background-color: #007BFF;
	color: #FFF;
	border: none;
	border-radius: 6px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 24px;
	width: auto;
	cursor: pointer;
}

%button-hover {
	background-color: #0069D9;
	border-color: #0062CC;
}

input#cla_submit[type="submit"],
.button-submit {
	@extend %button;

	&:hover {
		@extend %button-hover;
	}
}

.button-submit {
	margin-bottom: 0;
}

.button-green {
	background-color: #28A745;

	&:hover {
		background-color: #218838;
	}
}

.logistics-approval-buttons {
	#cla_publish {
		margin-top: .5rem;
	}
}

.flagged {
	color: #F00;
}

input.flagged {
	border-color: #F00;
}
