@charset "utf-8";

@import "foundation";
@import "settings";
@import "orders-template";
@import "my-account-template";

dl.horizontal {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

	dt {
		margin-bottom: .5rem;
		text-align: right;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		font-weight: 700;
	}

	dd {
		text-align: left;
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.badge-success {
	color: #FFF;
	background-color: #28A745;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:not(:disabled):not(.disabled) {
    cursor: pointer;
	}

	+ .btn {
		margin-left: .5rem;
	}

	.dashicons,
	.dashicons:before,
	.dashicons-before:before {
		transition: none;
	}
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;

  .dashicons {
  	width: 16px;
  	height: 16px;
  }
}

.btn-yellow,
.btn-warning {
  color: #212529;
  background-color: #FFC107;
  border-color: #FFC107;
}

.btn-outline-dark {
	color: #343A40;
	background-color: transparent;
	background-image: none;
	border-color: #343A40;

	&:hover {
		color: #FFF;
		background-color: #343A40;
	}
}

#cla_delete_order {
	margin: 0 .5rem;
}

.btn-outline-green,
.btn-outline-success {
	color: #28A745;
	background-color: transparent;
	background-image: none;
	border-color: #28A745;

	&:hover {
    color: #FFF;
    background-color: #28A745;
    border-color: #28A745;
	}
}

.btn-outline-warning,
.btn-outline-yellow {
  color: #FFC107;
  background-color: transparent;
  background-image: none;
  border-color: #FFC107;

  &:hover {
    color: #212529;
    background-color: #FFC107;
    border-color: #FFC107;
  }
}

.btn-outline-red {
	color: #FF0000;
	background-color: transparent;
	background-image: none;
	border-color: #FF0000;

	&:hover {
		color: #FFF;
		background-color: #F00;
	}
}

.btn-square {
	padding: 6px 10px;

	.dashicons {
		line-height: 24px;
	}
}

.outline-fields {
	border: 1px solid #DEE2E6;
	border-radius: .25rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.thead-light {
	background-color: #E9ECEF;
	color: #495057;
	border-color: #DEE2E6;
}

.notice-red {
	color: #FF0000;
}

.notice-green {
	color: #28A745;
}

%button {
	background-color: #007BFF;
	color: #FFF;
	border: none;
	border-radius: 6px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 24px;
	width: auto;
	cursor: pointer;
}

%button-hover {
	background-color: #0069D9;
	border-color: #0062CC;
}

input#cla_submit[type="submit"],
.button-submit,
.btn-primary {
	@extend %button;

	&:hover {
		@extend %button-hover;
	}
}

.btn-secondary {
	color: #FFF;
	background-color: #6C757D;
	border-color: #6C757D;

	&:focus,
	&:active,
	&:hover {
    color: #FFF;
    background-color: #5A6268;
    border-color: #545B62;
  }
}

.button-submit {
	margin-bottom: 0;
}

.button-green {
	background-color: #28A745;

	&:hover {
		background-color: #218838;
	}
}

.logistics-approval-buttons {
	#cla_publish {
		margin-top: .5rem;
	}
}

.flagged {
	color: #F00;
}

input.flagged {
	border-color: #F00;
}

.ajax-delete-message {
	display: inline-block;
	margin-right: 0.5rem;
	line-height: 38px;
}

.status-color-key {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.status-color-key,
.status-indicator {
	&.action_required {
		background-color: #FFC107;
	}

	&.returned {
		background-color: #DC3545;
	}

	&.completed,
	&.publish {
		background-color: #C3E6CB;
	}

	&.awaiting_another {
		background-color: #D6D8DB;
	}
}

.grid-x.align-middle {
	align-items: center;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	min-width: 0;
	word-wrap: break-word;
	background-color: #FFF;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin: {
		top: 0.9375rem;
		bottom: 0.9375rem;
	}
}

.card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}

#approval-fields {
	margin-bottom: 1rem;
}

.p {
	margin-bottom: $paragraph-margin-bottom;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
	.container {
    max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
    max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
    max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
    max-width: 1140px;
	}
}
